// Palette colors
// greenish rgb(54, 147, 123)
// blueish rgb(39, 43, 61)
// orange-ish rgb(142, 81, 49)
// reddish rgb(87, 60, 57)
// yellowish rgb(217, 158, 96)

@font-face {
  font-family: MaiolaBold ;
  src: url("../fonts/maiolabold.otf");
}

// Navigation Header
.nav-header{
  background-color: rgba(29, 29, 29, 0.8);
}
.nav-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-header li {
  display: inline;
  float: left;
}
.nav-header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-header li a:hover {
  background-color: rgb(65, 65, 65);
}


body {
  margin: 0;
  min-height: 100vh;
  background-image: url("../aoe-assets/bg/bg.png") !important;
  background-color: rgb(3, 3, 80);
  background-size: 100% auto ;
  background-attachment: fixed; // This is not working for some reason
  background-repeat: no-repeat;
  color: rgb(217, 158, 96);
  font-family: 'Open Sans', sans-serif;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: MaiolaBold;
  color: rgb(217, 158, 96);
  letter-spacing: 2px;

}

.header{
  align-items: center;
  display: flex;
  justify-content: center;
  
  .how{
    display: inline-block;
    background-image: url("../aoe-assets/house_of_wisdom.png");
    background-size: contain;
    height: 2.5rem;
    
    margin-right: 0.5rem;
    aspect-ratio: 1/1;
  }
  .title{
    padding:0.5rem;
    // margin: 0.1rem;
    text-align: center;
    display: inline-block;
  }
}




.main-container{
  background-color: rgba(34, 34, 34, 0.637);
  // border-radius: 8px;
  // padding: 0.5rem;
  // margin:2rem;
  // margin-top: 0px;
  justify-content: center;
  // padding-top: 2px;
}

// BUTTONS 
.menu-bar{
  // background-color:rgba(32, 32, 32, 0.473);
}
.menu-bar button{
  border:none;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-bar{
  padding-bot: 0.5rem;
  // padding-top: 1.5rem;
  // margin: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  display:flex;
  justify-content: center;
}

.btn-bar button{
  background-color: #4CAF50; /* Green */
  width:10rem;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(0, 0, 0); 
  color: rgb(255, 255, 255); 
}

.btn-bar button:hover {
  background-color: #4CAF50;
}



.civ-bar button{
  min-width: 80px ;
  width: 8rem;
  aspect-ratio: 104/56;
  margin-top: 3px;
  cursor:pointer;
}

.civ-bar button:hover{
  opacity:70%;
}

.civ-bar{
  display: none;
  // display: flex;
  padding-top: 0;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  // border-bottom: 4px solid rgba(37, 37, 37, 0.61);
  
  #rus{
    background-position: center;
    background-size: contain;
    background-image: url("../aoe-assets/flags/rus_flag.png");
  }
  #abbasid{
    background-position: center;
    background-size: contain;
    background-image: url("../aoe-assets/flags/abbasid_flag.png");
  }
  #mongols{
    background-position: center;
    background-size: contain;
    background-image: url("../aoe-assets/flags/mongols_flag.png");
  }
  #english{
    background-position: center;
    background-size: contain;
    background-image: url("../aoe-assets/flags/english_flag.png");
  }
  #french{
    background-position: center;
    background-size: contain;
    background-image: url("../aoe-assets/flags/french_flag.png");
  }
  #delhi{
    background-position: center;
    background-size: contain;
    background-image: url("../aoe-assets/flags/delhi_flag.png");
  }
  #hre{
    background-position: center;
    background-size: contain;
    background-image: url("../aoe-assets/flags/hre_flag.png");
  }
  #chinese{
    background-position: center;
    background-size: contain;
    background-image: url("../aoe-assets/flags/chinese_flag.png");
  }

}

// GRID
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto, 60px );
  grid-gap: 1rem;
  grid-auto-flow: row;
  // background-color: rgb(10, 10, 50,0.5);
  margin: 1rem;
  margin-top: 0;
  padding: 1rem;
}

.grid-item{
  display:  inline-block;
  margin: 0.5em;
  align-self: center;
  justify-self: center;
  border:none;
}

.grid-map{
  border:none;
  min-width: 80px ;
  width: 8rem;
  aspect-ratio: 1/1;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: contain !important;
}
.grid-map:hover {
  opacity: 70%;
}

.grid-flag{
  display: flex;
  border:none;
  min-width: 80px ;
  width: 8rem;
  aspect-ratio: 104/56;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: contain !important;
}

.grid-flag:hover{
opacity: 70%;
}

.icon{
  // border:none;
  border: 2px solid;
  border-color:rgba(224, 189, 131, 0.877);
  border-radius: 6px;
  height: 63px;
  width: 63px;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: contain !important;
}

.icon:hover {
  border-color: rgb(101, 93, 83);
  border-width: 3px;
  opacity: 80%;
}

.w3-modal{
  padding: 1rem;
padding-bottom: 3rem !important;
// margin: 1rem;
  // margin: 10px;
}

.w3-modal-content{
  padding: 1rem !important;
  // margin: 20px !important ;
}
